*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

[class$="face"]{
    width:104px;
    height: 104px;
    background-color: #e7e7e7;
    border-radius: 10%;
    margin: 16px;
    padding: 4px;
    /* 
    box-shadow:
    inset 0 5px white,
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
    */
    -webkit-box-shadow: inset 0px -8px 10px 0px rgba(0,0,0,0.59); 
box-shadow: inset 0px -8px 10px 0px rgba(0,0,0,0.59);

}/* este selector nos permite seleccionar determinado elemento dentro de una clase */


/* para darle estilos a un elemnto determinado usamos clases */

/* seudo-clases 
nos van a permitir acceder a elementos dentro del contenedor para darle estilos*/

/* si quisieramos darle estilos al primer elemnto o al ultimo elemento */

/* las-child:
nos permite seleccion el ultimo elemnto del contenedor en este caso de la ul

ul li:last-child{
    background-color: blueviolet;
esto solo le da estilos a ultimo elemento
}

*/

/* first-child:

estya propiedad nos permite darle estilos a nuestro contenedor hijo

ul li:first-child{
    background-color: blueviolet;
esto solo le da estilos a ultimo elemento
}

*/

/* last-of-type
Esta propiedad nos va permitir poder dale un tipo especifico pra poder seleccionar


*/

/*Esats propiedades son importantes por que facilitan a la hora de dar estilos cuando tenemos un contenedor con muchos elementos qu son similas 
ejemplos una seccion que tine muchos articulos 

nos permite reducir el codigo en css que utilizamos
*/


/* nth

nth-child(2)

nos permite acceder o definir a que elemnto en especifico le querenos dar estilos 

nth-child tiene otros valores

odd: le aplica estilos a los elemntos impares dentro del contenedor

even: le aplica estilos a los elemntos pares dentro del contenedor padre

nth-child(2n): nos permite aplciar estilos dando saltos

*/


.pip{
    display: block;
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    margin:4px;
}

/* Primer dado */
.first-face{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Flebox nos permite tener mejro control de posicionamiento de los elementos hijos dentro de un contenedor*/

/* las pseudo-clases se utilizan
elemento:first-child{}
*/

/* Segundo dado */

/* en este caso el eje pricipal va ser el eje x */
/* justify-content aplica en el eje x */
/* y la propiedad align item aplica en el eje y */
.second-face{
    display: flex;
    justify-content: space-between;
}

.second-face .pip:nth-child(2){
    align-self: flex-end;
}

/* tercer dado */

.third-face{
    display: flex;
    justify-content: space-between;
}
.third-face .pip:nth-child(2){
    align-self:center
}

.third-face .pip:nth-child(3){
    align-self: flex-end;
}

/* cuarto dado */

.fourth-face{
    display: flex;
    justify-content: space-between;
}
.fourth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* quinto dado */

.fifth-face{
    display: flex;
    justify-content: space-between;
}

.fifth-face .column:nth-child(2){
    align-self:center ;
}

.fifth-face .column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* sexto dado */

.sixth-face{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

